<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfh6b7yuobvM7GYsQfM3GfFQiYXHPLKII&sensor=true"></script>
	</head>
	<body>
		{% include 'partials/navbar.html' %}
		{% block content %}
		{% endblock %}
		{% include 'partials/templates.html' %}

		<script>
 
		    {% autoescape false %}
		    var all_hotels = {{ Hotel | json }};
		    var all_restaurants = {{ Restaurant | json }};
		    var all_things_to_do = {{ ThingToDo | json }};
		    {% endautoescape %}
		 
		</script>

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower_components/underscore/underscore.js"></script>
		<script src="/bower_components/backbone/backbone.js"></script>
		<script type="text/template" id="button_template">
			<button class="btn btn-default btn-primary">Day <%= dayNum %></button>
		</script>
		<script src="/javascripts/views/activities/activitySelect.view.js"></script>
		<script src="/javascripts/models/day.model.js"></script>
		<script src="/javascripts/collections/day.collection.js"></script>
		<script src="/javascripts/views/days/dayButton.view.js"></script>
		<script src="/javascripts/models/trip.model.js"></script>
		<script src="/javascripts/views/trip.view.js"></script>
		<script src="/javascripts/main.js"></script>

	</body>
</html>